html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  padding: 0;

}

.example {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  min-height: 350px;
  min-width: 350px;
}

.js-bimkon-slider {
  height: 100%;
  max-width: 100%;
  position: relative;
}

.bimkon-slider {
  &__tip {
    position: relative;
  }

  &__scale {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;

    &_value {
      cursor: pointer;
      display: flex;
      position: absolute;
    }
  }

  &__path {
    background: #e0e0e0;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    z-index: 0;

    &-line {
      background-color: #767177;
      background-color: rgb(74, 130, 214);
      border-radius: 4px;
      height: 10px;
      position: absolute;
      top: 0;
      width: 10px;
      z-index: -1;
    }
  }

  &__thumb {
    background: rgb(148, 123, 165);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    position: absolute;
    width: 20px;
    z-index: 1;
    
    &_selected {
      z-index: 10;
    };
  }
  
  &__empty-bar {
    cursor: pointer;
    height: 100%;
    width: 100%;
  }

  &_vertical {
    .bimkon-slider__tip {
      left: -35px;
      top: 0;
    }

    .bimkon-slider__scale {
      flex-direction: column;
      left: 20px;
      top: 0;
      
      &_value {
        transform: translate(-0%, -50%);
      }
    }

    .bimkon-slider__path {
      height: 100%;
      width: 10px;
    }

    .bimkon-slider__thumb {
      transform: translate(-28%, -50%);
    }
  }

  &_horizontal {
    .bimkon-slider__tip {
      top: -20px;
    }
    
    .bimkon-slider__scale {
      top: 20px;

      &_value {
        transform: translate(-50%);
      }
    }

    .bimkon-slider__path {
      height: 10px;
      width: 100%;
    }

    .bimkon-slider__thumb {
      transform: translate(-50%, -75%);
    }
  }
}



