include ../control/control.pug
.example
  .example__container
    .bimkon-slider-1
  +control
.example
  .example__container
    .bimkon-slider-2
  +control
.example
  .example__container
    .bimkon-slider-3
  +control
.example
  .example__container
    .bimkon-slider-4
  +control
.example
  .example__container
    .bimkon-slider-5(data-min=99 data-max=199 data-step=1 data-is-range='true', data-is-vertical='true' data-from=105 data-to=125 data-has-tip='true' data-number-Of-Strokes=3 )
  +control
